{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
 

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        
        <h2>Best Sellers</h2>
        <p><b>1)American Tourister Casual Backpack</b> </p>
        <img src="https://m.media-amazon.com/images/I/81KEKEDFUcL._UY741_.jpg" alt="American Tourister Backpack"width="300" height="600">
        <h6  class="card-title" >Price :1000</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        
        <p><b>2)SAFARI 15 Ltrs Sea Blue Casual/School/College Backpack (DAYPACKNEO15CBSEB) & SAFARI 15 Ltrs Cherry Red Casual/School/College Backpack</b></p>
        <img src="https://m.media-amazon.com/images/I/61vH8wvZ3YL._SL1500_.jpg" alt="SAFARI 15 Ltrs Sea Blue Casual Backpack"width="400" height="400">
        <h6 class="card-title" >Price :300</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
       
        <p><b>3)Urban Forest Black & Red Leather Men's Wallet & Earphone Organiser Set for Men </b></p>
        <img src="https://webmerx.sgp1.cdn.digitaloceanspaces.com/ethnicflix/product_images/1635002890jpg"  alt="Urban Forest Black & Red Leather Wallet"width="400" height="400">
        <h6 class="card-title" >Price :400</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        
      </div>
      <div class="col-md-4">
        <h2>New Releases</h2>
        <p><b>1)Safari HiTech 35 Ltrs Water Resistant Backpack - Black </p>
        <img src="https://m.media-amazon.com/images/I/61I6joqxQPL._UL1500_.jpg" alt="Safari HiTech 35 Ltrs Water Resistant Backpack"width="400" height="600">
        <h6 class="card-title" >Price :900</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        <p>2)Leafy Tales Curry Leaves Herb Plant in Black Pot </p>
        <img src="https://m.media-amazon.com/images/I/611i7mASzFL._SL1500_.jpg" alt="Leafy Tales Curry Leaves Herb Plant in Black Pot"width="400" height="400">
        <h6 class="card-title" >Price :150</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        <p>3)Teky Ronaldo Football Jersey with Shorts </p>
        <img src="https://m.media-amazon.com/images/I/410Ze5xFkBL.jpg" alt="Teky Ronaldo Football Jersey with Shorts "width="390" height="400">
        <h6 class="card-title" >Price :2000</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        </b>
      </div>
      <div class="col-md-4">
        <h2>Movers and Shakers</h2>
        <p><b>1)Rosettes Mix Succulents 50+ Seeds - Grow in All Seasons- Indoor or Outdoor Both</p>
        <img src="https://m.media-amazon.com/images/I/71AFVhic-nL._SL1000_.jpg" alt="Rosettes Mix Succulents"width="400" height="600">
        <h6 class="card-title" >Price :700</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        <p>2)Redmi Note 10 Lite Aurora Blue 4GB RAM 128GB ROM</p>
        <img src="https://images-eu.ssl-images-amazon.com/images/I/41jGPbg8iuL._SX300_SY300_QL70_FMwebp_.jpg" alt="Redmi Note 10 Lite Aurora Blue 4GB RAM 128GB ROM"width="400" height="400">
        <h6 class="card-title" >Price :14000</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        <p>3)PS5™ Digital Edition&HD camera - (PlayStation®5)</p>
        <img src="https://m.media-amazon.com/images/I/71+BbgYsh+L._SL1500_.jpg" alt="PS5™ Digital Edition&HD camera - (PlayStation®5)"width="400" height="400">
        <h6 class="card-title" >Price :50000</h6>
        <a class="btn btn-primary cart" href="/shop">Buy Now</a>
        </b>
      </div>
    </div>
  

    <hr>

 



</main>

{% endblock %}